body {
    position: relative;
    width: 95vw;
    height: 95vh;
    background-color: aqua;
}

#stick {
    position: absolute;
    top: 90vh;
    left: 50vw;
    width: 100px;
    height:20px;
    background-color: chocolate;
    -moz-transform-origin: center;
    -moz-transform: rotate(45deg);
}

.ball {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: goldenrod;
}